#ldpg{
    background-image: url("..//images/friends-eating-pizza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}
#navnt .navbar-nav .nav-item .nav-link {
    color: black;
}


#cardcont {
    background: rgba(255, 255, 255, 0.432);
    padding: 6px;
}
